{% extends 'base.html' %}
{% block content %}
<section class="container section">
  <h2>My Orders</h2>

  <a href="{% url 'orders:create_order' %}" class="btn btn-success mb-3">
    + Create New Order
  </a>
  {% for o in orders %}
    <div class="mb-3">
      <p>
        <strong>Order #{{ o.id }}</strong><br>
        {{ o.type|title }} ({{ o.size }})<br>
        {{ o.description|default_if_none:""|cut:" "|default:"No description"|truncatechars:30 }}
        | {{ o.price }} kr | {{ o.paid|yesno:"Paid,Unpaid" }} - Status: {{ o.status }}
      </p>
      <div class="mt-2">
        <strong>Actions:</strong><br>

          <a href="{% url 'orders:update_order' o.id %}" class="btn btn-primary btn-sm">
            Edit
          </a>

          <a href="{% url 'orders:delete_order' o.id %}" class="btn btn-danger btn-sm">
            Cancel Order
          </a>
          
      </div>
      {% if o.design_file %}
      <p>
        <strong>Design File:</strong> {{ o.clean_filename }}<br>

        {% if "amazonaws" in o.design_file.url %}
          <a class="btn download-btn btn-sm fw-bold"
            href="{{ o.design_file.url }}?response-content-disposition=attachment"
            aria-label="Download design file">
            Download File
          </a>
        {% else %}
          <a class="btn download-btn btn-sm fw-bold"
            href="{{ o.design_file.url }}"
            download
            aria-label="Download design file">
            Download File
          </a>
        {% endif %}
      </p>
    {% endif %}
    </div>
    <hr />
  {% empty %}
    <p>You have no orders yet. <br>Find anything strange? <a href="#footer">Email or call us!</a>.</p>
  {% endfor %}
</section>
{% endblock %}
