{% extends 'base.html' %}
{% block content %}
<section class="container section">
  <h2>My Orders</h2>
  {% for o in orders %}
    <div class="mb-3">
      <p>
        #{{ o.id }} | <strong>{{ o.type|title }} {{ o.size }} 
        {{ o.description|default_if_none:""|cut:" "|default:"No description"|truncatechars:30 }}</strong>
        | {{ o.price }} kr | {{ o.paid|yesno:"Paid,Unpaid" }} - Status: {{ o.status }}
      </p>
      <p>
        <a href="{% url 'orders:update_order' o.id %}" class="btn btn-light-on-dark btn-sm">Edit</a>
      </p>
      <a href="{% url 'orders:delete_order' o.id %}" class="btn btn-danger btn-sm"
        onclick="return confirm('Are you sure you want to delete this order?');">
        Delete
      </a>
      {% if o.design_file %}
        <p><a class="btn btn-light-on-dark btn-sm" href="{{ o.design_file.url }}" download>Download Finished Design</a></p>
      {% endif %}
    </div>
    <hr />
  {% empty %}
    <p>You have no orders yet. <br>Find anything strange? <a href="#footer">Email or call us!</a>.</p>
  {% endfor %}
</section>
{% endblock %}
