{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container section">
  <h2>Place an Order</h2>

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    {% if form.errors %}
      <div class="alert alert-danger">
        {{ form.errors }}
      </div>
    {% endif %}

    {{ form.as_p }}

    <p class="fw-bold">
      Estimated Price: <span id="js-price-preview"></span>
    </p>

    <button class="btn btn-primary" type="submit">
      Pay with Stripe
    </button>
  </form>
</div>
{% endblock %}

{% block postload_js %}
{{ block.super }}

<!-- JS script -->
<script src="{% static 'js/price_preview.js' %}"></script>
{% endblock %}
